USE [master]
GO
/****** Object:  Database [final-20181213]    Script Date: 07/12/2018 15:35:10 ******/
CREATE DATABASE [final-20181213] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [final-20181213].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [final-20181213]
GO
/****** Object:  Table [dbo].[Humano]    Script Date: 07/12/2018 15:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Humano](
	[nombre] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
